
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
    
        <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/homee" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ path('new_payment')}}" class="nav-link">Ajouter payment</a>
      </li>
       <li class="nav-item">
        <a href="{{ path('new_facture')}}" class="nav-link">Ajouter Facture</a>
      </li>
    </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>



