
{% extends 'base.html.twig' %}
{% block body %}
  <h1>Votre paiement est enregistré !</h1>
  pour facturer votre paiement ajouter votre compte
   <li class="nav-item">
        <a href="{{ path('new_payment')}}" class="nav-link">Ajouter payment</a>
      </li>
 {% endblock %}

